.container {
    display: flex;
    border-radius: 15px;
    background-color: white;
    color: darkslategray;
    float: left;
    width: 70%;
    margin-left: 30px;
}

.main-content {
    flex: 2;
    /* Takes up 66% of the width */
    padding: 0px 20px;
    padding-bottom: 20px;
}

.profile-btn {
    /* logo credit: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vecteezy.com%2Fvector-art%2F8302462-eps10-grey-vector-user-icon-or-logo-in-simple-flat-trendy-modern-style-isolated-on-white-background&psig=AOvVaw3pgjXonlxadLb9Pu4dLWz4&ust=1707728564459000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCIivzuX2ooQDFQAAAAAdAAAAABAE*/
    width: 20px;
    height: 20px;
    display: flex;
}

.profile-btn img {
    width: 100%;
    height: 100%;
}

.post {
    color: #555c6d; 
}

.submitBtn {
    background-color: #627594;
    padding: 4px 8px 4px 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 5px;
    border-radius: 5px;
    box-shadow: none;
}

.submitBtn:hover {
    background-color: #2f3d59;
}

.commentBox {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.commentBox textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.commentBox button {
    background-color: #627594;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.commentBox button:hover {
    background-color: #2f3d59;
}

#topicLink {
    font-weight: bold;
}

#commentBreaks {
    border-top: 0.1px solid rgb(207, 209, 212);
}


.commentList {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.commentList::after {
    content: '';
    display: block;
    clear: both;
}

.commentBody {
    float: left;
}

.commentList hr {
    border-top: 1px solid #ddd;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Second column */
.container-2 {
    display: flex;
    float: right;
    border-radius: 15px;
    background-color: white;
    color: #868D9F;
    margin-right: 40px;
    width: 20%;
}

.secondary-content {
    padding: 20px;
    font-size: 14px;
}

.secondary-content a {
    text-decoration: none;
    color: darkslategray;
}

.secondary-content a:hover {
    text-decoration: underline;
}

#topicLink {
    text-decoration: none;
    font-style: italic;
    color: darkslategray;
}

#topicLink:hover {
    color: rgb(16, 37, 37);
}

#topicList,
.other {
    text-decoration: none;
    font-style: italic;
    color: darkslategray;
    list-style: none;
}

#topicList:hover {
    color: rgb(16, 37, 37);
}