body {
    font-family: Arial, sans-serif;
    color: darkslategray;
}

.container {
    margin-left: 20px;
    width: 70%;
    float: left; 
    padding: 30px;
    background-color: white;
    border-radius: 15px;
}

.container-2 {
    margin-right: 2em;
    width: 15%;
    float: right;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    font-size: 14px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* CSS styles */
.user-posts {
    list-style-type: none;
    padding: 0;
}

.prev-post {
    margin-bottom: 10px;
}

.prev-post a {
    text-decoration: none;
    color: #627594;
    font-style: italic;
}

.prev-post a:hover {
    color: rgb(47, 72, 110);
}

.no-posts {
    font-style: italic;
    color: #999;
}
