body {
    font-family: Arial, sans-serif;
}

.edit-container {
    margin: 50px auto;
    width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px; 
    background-color: #ccc; 
    overflow: hidden; 
  }

.image-text {
    font-size: 12px;
}

  .profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
  }

  .input-field:focus {
    outline: none;
    border-color: #007bff; 
  }

  .edit-profile-btn {
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .edit-profile-btn:hover {
    background-color: #0056b3; 
  }

